* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../assets/movies-background.jpg");

  nav {
    background-color: rgb(0, 24, 168);
    color: white;
    height: 80px;
    text-align: center;

    h3 {
      padding: 10px;
      font-size: 1.5em;
    }

    .input {
      margin-right: 10px;
    }
  }

  #grid-container {
    display: flex;
    justify-content: center;

    #list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: 20px 60px 60px 60px;

      li {
        list-style-type: none;
        margin: 10px;
        text-align: center;
        // font-size: 1em;

        .title {
          // display: inline-block;
          min-height: 40px;
          font-size: 1em;
          background-color: white;
          padding-top: 5px;
        }

        img {
          // padding-top: 5px;
          width: 100%;
          // max-height: 200px;
        }
      }
    }
  }
}

@media only screen and (min-width: 720px) {
  body {
    #grid-container {
      .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  body {
    #grid-container {
      .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      }
    }
  }
}

@media only screen and (min-width: 1050px) {
  body {
    #grid-container {
      .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      }
    }
  }
}
